In [1]:
import pandas as pd

In [14]:
student_list = [{'name' : 'John', 'major' : "Computer Science", 'sex' : "male"},
                 {'name' : 'Nate', 'major' : "Computer Science", 'sex' : "male"},
                  {'name' : 'Adraham', 'major' : "Physics", 'sex' : "male"},
                   {'name' : 'Brian', 'major' : "Psycjology", 'sex' : "male"},
                    {'name' : 'Janny', 'major' : "Economics", 'sex' : "female"},
                     {'name' : 'Yuna', 'major' : "Economics", 'sex' : "female"},
                      {'name' : 'Jeniffer', 'major' : "Computer Science", 'sex' : "female"},
                       {'name' : 'Edward', 'major' : "Computer Science", 'sex' : "male"},
                        {'name' : 'Zara', 'major' : "Psycjology", 'sex' : "female"},
                         {'name' : 'Wendy', 'major' : "Economics", 'sex' : "female"},
                          {'name' : 'Sera', 'major' : "Psycjology", 'sex' : "female"}]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])

In [15]:
df

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Adraham           Physics    male
3      Brian        Psycjology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psycjology  female
9      Wendy         Economics  female
10      Sera        Psycjology  female

In [16]:
groupby_major = df.groupby('major')

In [17]:
groupby_major.groups

{'Computer Science': [0, 1, 6, 7], 'Economics': [4, 5, 9], 'Physics': [2], 'Psycjology': [3, 8, 10]}

In [21]:
for name, group in groupby_major:
    print(name + ":" + str(len(group)))
    print(group)
    print()

Computer Science:4
       name             major     sex
0      John  Computer Science    male
1      Nate  Computer Science    male
6  Jeniffer  Computer Science  female
7    Edward  Computer Science    male

Economics:3
    name      major     sex
4  Janny  Economics  female
5   Yuna  Economics  female
9  Wendy  Economics  female

Physics:1
      name    major   sex
2  Adraham  Physics  male

Psycjology:3
     name       major     sex
3   Brian  Psycjology    male
8    Zara  Psycjology  female
10   Sera  Psycjology  female

In [26]:
df_major_cnt = pd.DataFrame({'count': groupby_major.size()}).reset_index()
df_major_cnt

              major  count
0  Computer Science      4
1         Economics      3
2           Physics      1
3        Psycjology      3

In [31]:
groupby_sex = df.groupby('sex')

In [32]:
for name, group in groupby_sex:
    print(name + ":" + str(len(group)))
    print(group)
    print()

female:6
        name             major     sex
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
8       Zara        Psycjology  female
9      Wendy         Economics  female
10      Sera        Psycjology  female

male:5
      name             major   sex
0     John  Computer Science  male
1     Nate  Computer Science  male
2  Adraham           Physics  male
3    Brian        Psycjology  male
7   Edward  Computer Science  male